body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
}

input, button {
  padding: 6px;
  margin: 4px;
}

button {
  cursor: pointer;
}

#messages {
  margin-top: 20px;
  border-top: 1px solid #444;
}
